.navmod {
    background: #121738;
    padding: 68px 5%;
    padding-bottom: 0;
    &__menu {
        background: #121738;
        @include screen(med-small) {
            background: #1B2040;
            margin-bottom: 1.2rem;
        }
    }
    &__start {
        margin-left: 16%;
        @include screen(med-small) {
            margin: 2rem;
        }
    }
    &__email {
        color: #FFFFFF;
        margin-left: 0.8rem;
        font-size: 1.6rem;
        * {
            display: inline-block;
            vertical-align: middle;
        }
        @include screen(med-small) {
            margin: 2rem;
            ;
        }
    }
    &__item {
        color: #DCDCE1;
        font-size: 1.4rem;
        font-weight: 500;
        letter-spacing: 1px;
        margin-right: 3.25rem;
        text-transform: uppercase;
        &:hover {
            color: #FFFFFF !important;
        }
    }
}

.navfooter {
    background: #121738;
    padding: 63px 23%;
    @include screen(med-small) {
        display: none;
    }
    &__item {
        color: #DCDCE1;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: .5rem .75rem;
        margin-right: 3.25rem;
        position: relative;
        &:hover {
            color: #FFFFFF !important;
        }
    }
}

.svg-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    stroke-width: 0;
    stroke: #DCDCE1;
    fill: #DCDCE1;
    &--logo {
        height: 4rem;
        width: 4rem;
    }
    &--social {
        height: 2.4rem;
        width: 2.4rem;
        margin-right: 4.0rem;
    }
    &--mail {
        height: 2.0rem;
        width: 2.0rem;
        margin-right: 0.4rem;
    }
    &--portfolio {
        fill: #FFFFFF;
        height: 2rem;
        width: 2rem;
        margin-right: 1.2rem;
    }
    &--menu {
        fill: #DCDCE1;
        height: 2rem;
        width: 2rem;
        margin-right: 1.2rem;
    }
}

.heading-1 {
    color: #FFFFFF;
    font-size: 6.8rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1.2rem;
}

.heading-2 {
    color: #FFFFFF;
    font-size: 3.2rem;
    font-weight: 500;
    margin-bottom: 6.0rem;
}

.highlight {
    color: #D17C78;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 2.4rem;
    text-transform: uppercase;
}

.body-1 {
    font-size: 2.4rem;
    line-height: 4.0rem;
}

.body-2 {
    font-size: 2.0rem;
    line-height: 3.6rem;
    margin-bottom: 4.2rem;
}

.text-white {
    color: #FFFFFF;
}

.text-pink {
    color: #D17C78;
}

.hero {
    background: #121738;
    min-height: 100vh;
    padding: 12rem 10%;
    position: relative;
}

.others {
    padding: 20rem 10%;
    &__block:not(:last-child) {
        margin-bottom: 20rem;
    }
}

.portfolio {
    background: rgba(#1B2040, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px;
    height: 26rem;
    position: relative;
    width: 100%;
    &--1 {
        background-image: url('../images/shuttlers.png');
    }
    &--2 {
        background-image: url('../images/onboarding.png');
    }
    &--3 {
        background-image: url('../images/shelter-place.png');
    }
    &--4 {
        background-image: url('../images/shuttlers.png');
    }
    &__cover {
        background: rgba(#1B2040, 0.5);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: background 0.2s ease-in-out 0.4s;
        width: 100%;
    }
    &__info {
        left: 7%;
        opacity: 0;
        position: absolute;
        transition: opacity 0.2s ease-in-out 0.4s;
        top: 80%;
        width: 100%;
    }
    &__title {
        color: #FFFFFF;
        font-size: 1.4rem;
        font-weight: 500;
    }
    &__more-works {
        color: #DCDCE1;
        display: block;
        font-size: 1.8rem;
        font-weight: 500;
        margin-top: 8rem;
        * {
            vertical-align: middle;
        }
        :hover {
            color: #FFFFFF;
        }
    }
}

.contact-email {
    color: #D17C78;
    font-size: 2.4rem;
    line-height: 4.2rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.portfolio-animate {
    -webkit-animation: portfolio-frame 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: portfolio-frame 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes portfolio-frame {
    0% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
    100% {
        -webkit-transform: scaleY(0.25);
        transform: scaleY(0.25);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
}

@keyframes portfolio-frame {
    0% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
    100% {
        -webkit-transform: scaleY(0.25);
        transform: scaleY(0.25);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
}

.fade-in-bottom {
    -webkit-animation: fade-in-bottom 1.15s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-bottom 1.15s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.fade-in-fwd {
    -webkit-animation: fade-in-fwd 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0.85s both;
    animation: fade-in-fwd 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0.85s both;
}

@-webkit-keyframes fade-in-fwd {
    0% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes fade-in-fwd {
    0% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}